.sale_block {
    background-color: #A1E2EB;
    height: 600px;
    position: relative;
    background-image: url('./media/image 2.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -80px;
}

.sale_title {
    font-weight: 700;
    font-size: 80px;
    line-height: 130%;
    color: #FFFFFF;
}

.new_season_title {
    font-weight: 700;
    font-size: 63px;
    line-height: 130%;
    color: white;
}

.sale_content {
	padding: 130px 0 139px 0;
} 

.sale_button {
    width: 155px;
    height: 82px;
    border-radius: 13px;
    background-color: #A1E2EB ;
    margin-top: 60px;
    padding: 25px 50px;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    cursor: pointer;
    color:#FFFFFF;
    border: 1px solid white;
}

.sale_button:hover {
    color: black;
    background-color: #FFFFFF;
    border: none;
    transition:  1s; 
}

.learn_button {
    width: 245px;
    height: 82px;
    border-radius: 13px;  
    background-color: #A1E2EB; 
    margin-left: 20px; 
    padding: 25px 40px; 
    font-weight: 700;
    font-size: 25px;
    line-height: 130%; 
    cursor: pointer;
    color:#FFFFFF;
    border: 1px solid white;
}

.learn_button:hover {
    color: black;
    background-color: #FFFFFF;
    border: none;
    transition: 1s; 
}



