.products_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px;
}

.products_by_category_block {
  padding: 10px 0 80px 0; 
}

.sorting_block span {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}

.sorting_block {
  display: flex;
  gap: 150px;
  margin: 81px 0 45px ;
}

.search_form {
  display: inline;
}

.search_form input {
  width: 103px;
  height: 42px ;
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 0 10px;
  padding: 10px;
}

::placeholder {
  font-size: 16px;
  font-weight: 500px;
  color: #ACACAC;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.search_form button {
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  width: 103px;
  height: 42px ;
  color: white;
  background-color: #3da13d;
  cursor: pointer;
}

.search_form button:hover {
  color: #000000;
  background-color: #ACACAC;
  cursor: pointer;
}

.select_form { 
  width: 219px;
  height: 40px ;
  border: 1px solid #000000;
  border-radius: 7px;
  margin-left: 42px;
  padding: 10px;
  color: #797979;
  font-size: 16px; 
  font-weight: 500px;
}

@media (max-width: 1100px) {
  .products_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .sorting_block {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .products_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .sorting_block {
    justify-content: center;
    gap: 15px;
  }

  .select_form { 
    width: 100px;
    padding: 10px;
    font-size: 13px; 
  }
  
  .sorting_block span {
    font-size: 15px;
  } 
  
  .search_form input {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .sorting_block {
    flex-direction: column;
  }
  .products_container {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}