.categorie_card {
    text-decoration: none;
}

.categorie_card_image {
    width: 320px;
    height: 320px;
    object-fit: cover;
    gap: 35px;
}

.categorie_card p {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color: #000000;
}