.categories_block {
    padding: 40px 0 182px 0;
}

.categories_content {
    display: flex;
    justify-content:start;
    padding: 20px;
    gap: 96px;
}

.categories_block_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}

.categories_block_button {
    margin: 10px 30px;
    border: 1px solid #8B8B8B;
    width: 120px;
    height: 31px;
    color: #8B8B8B;
    cursor: pointer;
    background-color: white;
}

.categories_container {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    gap: 32px;
}


@media (max-width: 1100px) { 
    .categories_container { 
        grid-template-columns: repeat(2,1fr);
        place-items: center;
        column-gap: 10px;
        row-gap: 25px;
    }
}

@media (max-width: 480px) { 
    .categories_container { 
        grid-template-columns: repeat(1,1fr);
        
    }
}