.products_block {
    padding: 50px 0 100px;
    
}

.products_block_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 21px;
}

.products_block_content {
    display: flex;
    justify-content:start;       
}

.products_container {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    gap: 44px;
    
}





