.header {
    display: flex;
    justify-content: space-between;
    height: 167px;
}

.logo_button {
    width: 257px;
    display: flex;
    justify-content: space-between;
}

.logo_button img {
    width: 72px;
    height: 72px;
    margin-top: 19px;
}

.logo_button button {
    background-color: #339933;
    border: 2px solid #339933;
    height: 49px;
    border-radius: 5px;
    margin-top: 35px;
    width: 125px;
    height: 49px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}


