.discount_section {
    background: linear-gradient(262.69deg, #339933 -0.43%, #006300 104.36%);
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding: 44px 150px 30px 100px;
}

.discount_section_title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: 0.03em;
}

.second_title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.03em;
}

.discount_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discount_form input {
    width: 473px;
    height: 75px;
    border-radius: 25px;
    background: #FFFFFF;
    padding: 27px 0 26px 50px;
    margin-top: 46px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder { 
    color: #6C6C6C;
    opacity: 0.5;   
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.03em;
  }

.discount_form button {
    width: 473px;
    height: 75px;
    border-radius: 25px;
    border: 2.4px solid  #FFFFFF;
    background-color: #339933;
    padding: 21px 72px 20px 90px;
    font-weight: 700;
    font-size: 29px;
    line-height: 120%;
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.discount_form button:hover {
    background-color: #FFFFFF;
    color: black;
    border: none;
    transition: 1s;
}



.error_message {
    color: darkgrey;
    margin-right: 60px; 
    margin-top: 1px;
    font-size: 14px;
    text-align: end;
}





