.nav_menu {
    display: flex;
    justify-content: space-between;
    gap:62px;
    padding-top: 44px;
}

.nav_menu a {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.nav_menu p:hover {
    color: #339933;
}

.cart_pic {
    width: 26.55px;
    height: 29.4px;
} 

.nav_cart {
    position: relative;
}

.nav_cart p {
    position: absolute;
    border-radius: 5px;
    width: 19px;
    height: 19px;
    top: -10px;
    right: -7px;
    text-align: center;
    font-size: 15px;
    background-color: lightslategray;
    opacity: 0.8;
}

.nav_cart:hover p{ 
    opacity: 0.8;
    color: black; 
} 


